<div style="position:absolute;left:' + 0.02 * window.innerWidth + 'px;right:' + 0.02 * window.innerWidth + 'px;z-index:100;background-color:#FFFFFF;">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#terminal" data-toggle="tab">Command Line</a></li>
		<li><a href="#scripts" data-toggle="tab">Scripts</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="terminal tab-pane fade active in" id="terminal">
		</div>
		<div class="scripts tab-pane fade" id="scripts">
		</div>
	</div>
</div>